/* ------------------------------------通用样式定义---------------------------------------- */
@charset "gbk";

/* 头部样式 */
.header{ width:100%; height:34px; margin:0 auto; background:#e0e0e0; overflow:hidden;}
.header_1{ width:1002px; margin:0 auto;}
.header_left{ float:left; width:500px; line-height:34px;}
.yhm{ float:left; font-size:12px; color:#373636; -margin:4px 0 0 0}
.mm{ float:left; padding:0 0 0 10px; font-size:12px; color:#373636; -margin:4px 0 0 0}
.dl{ float:left; padding:7px 0 0 10px;}
.input_1{ width:136px; height:18px; border:1px solid #c3c2c2; padding:3px 0 0 5px;}
.dl_button{ background:url(../images/button001.jpg) no-repeat; width:40px; height:21px; float:left; border:0;}
.zc_button{ background:url(../images/button002.jpg) no-repeat; width:40px; height:21px; float:left; border:0;}
.header_right{ float:right;}
.fx{ float:left;}
.fx_1{ float:left;}
.fx_2{ float:left;}
.cn{ width:100px; float:left; line-height:34px; margin:0 0 0 10px;}
.head_top{ width:100%; height:119px; margin:0 auto; background: url(../images/bg001.jpg) repeat-x}
.logo_nav{ width:1002px;margin:0 auto;}
.logo{ width:245px; height:71px; float:left; margin:26px 0 0 0}
.daohang{ float:right; margin:10px 0 0 0}

/* 导航下拉菜单样式调用*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.nav{ padding:30px 12px 0 12px; height:54px; line-height:54px; float:left;  position:relative; z-index:1; margin:0; border:0;  }
.nav a{ color:#020202; font-family:"微软雅黑" ; font-size:16px; font-size:16px !important;_font-size:16px; text-decoration:none }
.nav .nLi{ float:left;  position:relative; display:inline; list-style:none; -width:88px;}
.nav .nLi h3{ float:left; padding:0; border:0; margin:0; }
.nav .nLi h3 a{ display:block; padding:0 12px; font-size:16px; font-weight:bold;  }
.nav .sub{ display:none; left:0; top:48px;  position:absolute; background:url(../images/nav_bg.png) no-repeat; width:115px; height:173px;  padding:5px 0; margin:0; border:0; }
.nav .sub li{ zoom:1; height:26px;line-height:26px; list-style:none; display:inline; width:100%; }
.nav .sub a{ display:block; padding:0 10px;  font-family:"微软雅黑" ; font-size:14px !important;_font-size:14px; }
.nav .sub a:hover{ background:#bb6b3e; color:#fff;}
.nav .on h3 a{ background:#bb6b3e; color:#fff; height:54px;   }

/* banner轮显图样式调用 */
.focusBox { position: relative; width:993px; height:297px; overflow: hidden; }
.focusBox .pic{ position:relative; z-index:0; margin:0; padding:0; border:0 }
.focusBox .pic img { width:993px; height:297px; display: block; }
.focusBox .hd { width:100%; position: absolute; bottom: 10px; text-align: center; font-size:0; z-index:1; }
.focusBox .hd li{margin: 0 5px; background: url(images/dot.png) no-repeat 0 -16px; height: 16px; overflow: hidden; width: 16px; cursor: pointer;display:inline-block; *display:inline; zoom:1;  _background: url(images/dot8.png) no-repeat 0 -16px;}
.focusBox .hd .on{ background-position:0 0; }
.focusBox .prev,
.focusBox .next { width: 26px; height: 66px; margin: -40px 0 0; display: none; background: url(../images/ad_ctr.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; filter:alpha(opacity=20);opacity:0.2;  }
.focusBox .prev { left: 0; }
.focusBox .next { background-position: 0 -90px; right: 0; }
.focusBox .prev:hover,
.focusBox .next:hover { filter:alpha(opacity=100) !important;opacity:1.0 !important;  }


/* 主体内容 */
.content_bg{ width:1019px; margin:10px auto 0; overflow:hidden;}
.content_top{ width:1019px; float:left; height:15px; background:url(../images/bg002.jpg) no-repeat; overflow:hidden;}
.content{ width:1019px; float:left; background:url(../images/bg003.jpg) repeat-y;}
.banner{ width:993px; margin:0 auto;}
.content_1{ width:993px; margin:0 auto; overflow:hidden;}
.nr_left{ width:675px; float:left; margin:10px 0 0 0}
.mrjy{ width:675px; float:left;}
.mrjy_title{ width:675px; height:30px; float:left;}
.title_1{ width:107px; height:30px; float:left; background:url(../images/title001.jpg) no-repeat; text-align:center; color:#fff; font-weight:bold; font-size:14px; line-height:30px;}
.mrjy_2{ width:675px; float:left; border:1px solid #e8e8e8}
.table_bor td{ border-right:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8;}
.table_bor_1 td{ border-right:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8;}
.tubiao_1{ width:660px; float:left; margin:0 0 0 7px!important; -margin:0 0 0 3px;}
.tubiao_2{ width:660px; float:left; margin:12px 0 0 7px;}
.nr_right{ width:305px; float:left; margin:0 0 0 13px!important; -margin:0 0 0 10px;}
.tzgg{ width:305px; float:left; margin:10px 0 0 0 }
.tzgg_title{ width:305px; height:30px; float:left; border-bottom:1px solid #e8e8e8}
.tzgg_nr ul{ border:0; padding:0; margin:0;}
.tzgg_nr li{ list-style:none; float:left; background:url(../images/arrow001.jpg) no-repeat 10px; height:28px; line-height:28px; border-bottom:1px dashed #e8e8e8; padding:0 0 0 20px; width:280px;}
.tzgg_nr li span{ float:right;}
.links{ width:993px;margin:10px auto 0; overflow:hidden;}
.rslc{ width:158px; height:127px; float:left; position:relative; margin:0 0 0 8px; }
.rslc_1{ width:158px; height:26px; float:left; position:absolute;left:0; bottom:0;  background:#000; line-height:26px; text-align:center;}
.yqlj{width:993px;margin:10px auto 0; overflow:hidden;}
.yqlj_title{ width:993px; height:30px; float:left; background:#f6f6f6;}
.yqlj_nr{ width:993px; float:left; min-height:60px;}
.yqlj_nr ul{ border:0; padding:0; margin:0;}
.yqlj_nr li{list-style:none; float:left; padding:0 20px; height:30px; line-height:30px; }
.footer{ width:100%; height:106px; background:#803011;}
.footer_1{ width:993px; margin:0 auto; padding:25px 0 0 0}
.footer_1 p{ border:0; padding:0; margin:0; float:left; font-size:12px; color:#FFF; width:933px; text-align:center;line-height:28px;}


/* 整站字体样式 */
.font-black-12{ font-family:"宋体"  ; font-size:12px !important;_font-size:12px; color:#373636; text-decoration:none;}
.font-black-12:link{  font-family:"宋体"  ; font-size:12px !important;_font-size:12px;color:#373636; text-decoration:none;}
.font-black-12:hover{ font-family:"宋体"  ; font-size:12px !important;_font-size:12px;color:#373636; text-decoration: underline;}
.font-black-12a{ font-family:"宋体"  ; font-size:12px !important;_font-size:12px; color:#373636; text-decoration:none;}
.font-black-12b{ font-family:"宋体"  ; font-size:12px !important;_font-size:12px; color:#5e5e5e; font-weight:bold; text-decoration:none;}
.font-white-14{ font-family:"宋体"  ; font-size:14px !important;_font-size:14px; color:#fff; text-decoration:none;}
