<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
		<bean name="uploadAction" class="com.ssh.action.upload.UploadAction"  >
		<property name="userService" ref="userService"></property>
		<property name="imageService" ref="imageService"></property>
		<property name="logInfoService" ref="logInfoService"></property>
	</bean>
	<bean name="userService" class="com.ssh.service.impl.user.UserServiceImpl" >
	<property name="userDAO" ref="userDAO"></property>
	</bean>
	
	<bean name="imageService" class="com.ssh.service.impl.upload.ImageServiceImpl" >
	<property name="imageDAO" ref="imageDAO"></property>
	</bean>
	
	<bean name="imageDAO" class="com.ssh.DAO.impl.upload.ImageDaoImpl" >
	<property name="sessionFactory" ref="sessionFactory"></property>
	<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	
</beans>